TALOSCTL_BIN=/usr/local/bin/talosctl
KUBECTL_BIN=/usr/local/bin/kubectl
TALOSCONFIG_PATH=/home/boi/.config/prometheus/talosconfig
KUBECONFIG_PATH=/home/boi/.config/prometheus/kubeconfig
NODE_IP=192.168.2.49
TALOS_API_PORT=50000
TALOS_HEALTH_MODE=auto
OPEN_WEBUI_URL=http://192.168.2.201/
VLLM_MODELS_URL=http://192.168.2.205:8000/v1/models
ADGUARD_URL=http://192.168.2.200/
GRAFANA_URL=http://192.168.2.202/login
SUMMARIZER_URL=http://192.168.2.203/api/health
LANGGRAPH_NAMESPACE=agents
LANGGRAPH_SERVICE=langgraph
LANGGRAPH_LOCAL_PORT=18081
LANGGRAPH_REMOTE_PORT=8000
ATHENA_NAMESPACE=athena
ATHENA_SERVICE=athena
ATHENA_LOCAL_PORT=18083
ATHENA_REMOTE_PORT=80
APOLLO_NAMESPACE=agents
APOLLO_SERVICE=apollo
APOLLO_LOCAL_PORT=18084
APOLLO_REMOTE_PORT=80
NATS_NAMESPACE=agents
NATS_SERVICE=nats
NATS_LOCAL_PORT=18222
NATS_REMOTE_PORT=8222
WAIT_SECONDS=900
SLEEP_SECONDS=10
