TALOSCTL_BIN=/usr/local/bin/talosctl
KUBECTL_BIN=/usr/local/bin/kubectl
TALOSCONFIG_PATH=/home/boi/.config/prometheus/talosconfig
KUBECONFIG_PATH=/home/boi/.config/prometheus/kubeconfig
NODE_IP=192.168.2.49
OPEN_WEBUI_URL=http://192.168.2.201/
VLLM_MODELS_URL=http://192.168.2.205:8000/v1/models
ADGUARD_URL=http://192.168.2.200/
GRAFANA_URL=http://192.168.2.202/login
LANGGRAPH_NAMESPACE=agents
LANGGRAPH_SERVICE=langgraph
LANGGRAPH_LOCAL_PORT=18081
LANGGRAPH_REMOTE_PORT=8000
WAIT_SECONDS=900
SLEEP_SECONDS=10
